.rechts
{
    float:right ;
    width:30%;
    padding: 0 10px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-color:lightblue ;
    background-image: url('images/cocktail.gif');
    background-repeat: repeat-x;

}
.left
{
    float:left ;
    width:70%;
    box-sizing: border-box;
    padding: 20px;


}
body{
   margin: 2.5%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:1.2em ;}
h1
{
    color: #007e7e ;
    font-size: 150%;

}
h2
{
    color: #007e7e ;
    font-size: 130%;

}
.rechts h1
{
    color: black;
}
.rechts h2
{
    color: red;
}
.rechts a:hover{
color: brown;
}
.rechts a{
    color: black;
}
footer
{
    font-size: 50%;
    bottom: 0;
}
#guarantee
{
    color: #444444;
    background-color: #a7cece;
    margin: 30px;
    box-sizing: border-box;
    border-style: dotted ;
    border-color: white;
    background-image: url('images/background.gif');
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: -20px;
    padding: 20px 20px 20px 40px;

}
header img
{
    display: block;

    margin-left: auto;

    margin-right: auto

}

footer
{
    text-align: center;
}